<template>
  <v-navigation-drawer
    @input="closed"
    :mini-variant="mini"
    app
    dark
    :permanent="permanent"
    :value="show"
    class="darkness-ligth"
    clipped
  >
  <div v-for="item in menuItems" :key="item.icon">
    <v-list-item v-if="item.type == 'button'" @click="">
      <v-list-item-icon>
        <v-icon color="rgba(255,255,255,.65)">{{ item.icon }}</v-icon>
      </v-list-item-icon>
      <v-list-item-content>
        <v-list-item-subtitle class="menu-title">{{
          item.label
        }}</v-list-item-subtitle>
      </v-list-item-content>
    </v-list-item>
    <v-divider dark v-if="item.type == 'divider'"></v-divider>
  </div>
  </v-navigation-drawer>
</template>
<script>
export default {
  props: {
    mini: Boolean,
    permanent: Boolean,
    show: Boolean,
  },
  data() {
    return {
      menuItems: [
        { type: "button", label: "Search", icon: "mdi-magnify", link:"" },
        { type: "button", label: "Jobs/gigs", icon: "mdi-briefcase-search", link:"" },
        { type: "button", label: "Post a job", icon: "mdi-bullhorn", link:"https://torre.co/es/postings/post" },
        { type: "button", label: "Your jobs (posted or applied)", icon: "mdi-briefcase", link:"https://torre.co/es/jobalerts/onboarding" },
        { type: "button", label: "Alerts (preferences)", icon: "mdi-briefcase-clock", link:"" },
        { type: "button", label: "Your genome", icon: "mdi-account", link:"" },
        { type: "button", label: "Signals", icon: "mdi-human-greeting", link:"" },
        { type: "button", label: "Messages", icon: "mdi-forum", link:"" },
        { type: "divider"},
        { type: "button", label: "Torre's product roadmap", icon: "mdi-road-variant", link:"" },
        { type: "button", label: "Request features", icon: "mdi-lightbulb", link:"" },
        { type: "button", label: "API for developers", icon: "mdi-code-tags", link:"" },
        { type: "button", label: "Help", icon: "mdi-help", link:"" },
        { type: "divider"},
        { type: "button", label: "English (en)", icon: "mdi-web", link:"" },
      ],
    };
  },
  methods: {
    closed(evt) {
      if (!evt) this.$emit("closed", evt);
    },
    searchClicked() {
      this.$emit("searchClicked", true);
    },
    goTo(link){
      window.open(link, "_blank"); 
    }
  },
  mounted() {},
};
</script>
<style  scoped>
.app--drawer {
  overflow: hidden;
}
.drawer-menu--scroll {
  height: calc(100vh - 48px);
  overflow: auto;
}
.drawer-header {
  height: 64px;
}
.darkness-ligth {
  background-color: #272727;
}
.menu-title {
  color: rgba(255, 255, 255, 0.65);
}
</style>
