<template>
  <v-app-bar dark flat app clipped-left class="app-bar-color">
    <div style="--size: 40px" class="pr-3" @click="leftMenuClicked()">
      <img
        data-url="https://res.cloudinary.com/torre-technologies-co/image/upload/v1601512321/origin/bio/organizations/Torre_logo_small_uubm3e.png"
        alt="Torre Labs"
        class="entity-picture__thumbnail entity-picture__thumbnail--image entity-picture__thumbnail--no-margins"
        src="https://res.cloudinary.com/torre-technologies-co/image/upload/v1601512321/origin/bio/organizations/Torre_logo_small_uubm3e.png"
      />
    </div>
    <!--<v-app-bar-nav-icon @click="leftMenuClicked()"></v-app-bar-nav-icon> -->

    <v-toolbar-title @click="leftMenuClicked()">
      <div class="tdl-brand-logo md-theme-dark">
        <svg
          viewBox="0 0 113 33"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          class="logo-svg"
        >
          <g id="Page-1" stroke="none" stroke-width="1">
            <path
              d="M10.9635,32.423 C13.1255,32.423 14.6765,31.953 16.0865,31.154 L16.0865,26.501 C14.9585,27.065 13.8305,27.347 12.5615,27.347 C10.6345,27.347 9.5065,26.454 9.5065,24.245 L9.5065,12.072 L16.1805,12.072 L16.1805,7.184 L9.5065,7.184 L9.5065,0.369 L3.8195,0.369 L3.8195,7.184 L0.6705,7.184 L0.6705,12.072 L3.8195,12.072 L3.8195,25.138 C3.8195,30.59 6.7805,32.423 10.9635,32.423 Z M33.0535,32.564 C40.6050571,32.564 46.1929447,26.8556582 46.3510575,19.9404098 L46.3545,19.545 C46.3545,12.448 40.7615,6.667 33.1475,6.667 C25.6422714,6.667 20.0550457,12.3753418 19.8969424,19.3356046 L19.8935,19.733 C19.8935,26.783 25.4865,32.564 33.0535,32.564 Z M33.1475,27.582 C28.8144615,27.582 25.7020847,24.1008539 25.5839803,19.8876586 L25.5805,19.545 C25.5805,15.221 28.4945,11.649 33.0535,11.649 C37.4326346,11.649 40.5458979,15.1301461 40.6640193,19.3876816 L40.6675,19.733 C40.6675,24.01 37.7535,27.582 33.1475,27.582 Z M52.0885,32 L57.8225,32 L57.8225,22.553 C57.8225,15.973 61.3005,12.73 66.2825,12.73 L66.6115,12.73 L66.6115,6.714 C62.2405,6.526 59.3735,9.064 57.8225,12.777 L57.8225,7.184 L52.0885,7.184 L52.0885,32 Z M71.4995,32 L77.2335,32 L77.2335,22.553 C77.2335,15.973 80.7115,12.73 85.6935,12.73 L86.0225,12.73 L86.0225,6.714 C81.6515,6.526 78.7845,9.064 77.2335,12.777 L77.2335,7.184 L71.4995,7.184 L71.4995,32 Z M101.4855,32.564 C106.0445,32.564 109.2875,30.731 111.6375,27.911 L108.3005,24.95 C106.3265,26.877 104.3525,27.911 101.5795,27.911 C97.9135,27.911 95.0465,25.655 94.4355,21.613 L112.6715,21.613 C112.7185,21.049 112.7655,20.532 112.7655,20.015 C112.7655,12.871 108.7705,6.667 100.8745,6.667 C93.8818676,6.667 88.896859,12.3248486 88.7517533,19.2797349 L88.7485,19.686 C88.7485,27.347 94.2945,32.564 101.4855,32.564 Z M94.3885,17.853 C94.9055,13.999 97.3495,11.32 100.8275,11.32 C104.5875,11.32 106.7495,14.187 107.1255,17.853 L94.3885,17.853 Z"
            ></path>
          </g>
        </svg></div
    ></v-toolbar-title>
    <v-spacer></v-spacer>
    <!-- <v-tooltip bottom>
      <template v-slot:activator="{ on }">
        <v-btn icon v-on="on" color="white">
          <v-icon color="rgba(255,255,255,.65)">mdi-magnify</v-icon>
        </v-btn>
      </template>
      <span>Search</span>
    </v-tooltip>
    <v-tooltip bottom>
      <template v-slot:activator="{ on }">
        <v-btn icon v-on="on" color="white">
          <v-icon color="rgba(255,255,255,.65)">mdi-account</v-icon>
        </v-btn>
      </template>
      <span>Your Genome</span>
    </v-tooltip> -->

    <div class="md-menu tdl-app-bar__user-menu user-menu">
      <div
        class="user-menu__picture entity-picture entity-picture--is-hexagon entity-picture--has-shadow"
        md-menu-trigger=""
        style="
          --size: 38px;
          --font-size: 16.625px;
          --border-width: 2px;
          --box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
        "
      >
        <div class="hexagon-border hexagon-border--no-margins"></div>
        <img
          data-url="https://starrgate.s3.amazonaws.com:443/CACHE/images/users/0a9472542b9073fc21134639acf7b509bfd5966a/profile_qCasLp1/ff5964ca59aa940cfe6e40bc9cb2bd4a.jpg"
          alt="Kevin Saul Arriaga Araizaga"
          class="entity-picture__thumbnail entity-picture__thumbnail--image entity-picture__thumbnail--no-margins"
          src="https://starrgate.s3.amazonaws.com:443/CACHE/images/users/0a9472542b9073fc21134639acf7b509bfd5966a/profile_qCasLp1/ff5964ca59aa940cfe6e40bc9cb2bd4a.jpg"
        />
      </div>
    </div>
  </v-app-bar>
</template>
<script>
export default {
  props: {
    admin: Boolean,
    isMobile: Boolean,
  },
  components: {},
  methods: {
    leftMenuClicked(evt) {
      this.$emit("clicked", evt);
    },
  },
};
</script>
<style>
.app-bar-color {
  background: #27292d;
}

.tdl-brand-logo .logo-svg {
  width: 60px;
}

.md-menu {
  display: inline-block;
}
entity-picture--is-hexagon.entity-picture--has-shadow {
  -webkit-filter: drop-shadow(var(--box-shadow));
  filter: drop-shadow(var(--box-shadow));
}

.entity-picture--is-hexagon {
  position: relative;
}
.entity-picture {
  min-width: var(--size);
}
.user-menu__picture {
  cursor: pointer;
  margin-top: 7px;
}
.md-theme-dark.tdl-brand-logo .logo-svg {
  fill: #f3f3f3;
}
.md-theme-dark .entity-picture--is-hexagon .hexagon-border {
  background-color: #5e626b;
}
.entity-picture--is-hexagon .hexagon-border--no-margins {
  margin: auto;
}
.entity-picture--is-hexagon .hexagon-border {
  -webkit-clip-path: polygon(
    45% 1.33975%,
    46.5798% 0.60307%,
    48.26352% 0.15192%,
    50% 0,
    51.73648% 0.15192%,
    53.4202% 0.60307%,
    55% 1.33975%,
    89.64102% 21.33975%,
    91.06889% 22.33956%,
    92.30146% 23.57212%,
    93.30127% 25%,
    94.03794% 26.5798%,
    94.48909% 28.26352%,
    94.64102% 30%,
    94.64102% 70%,
    94.48909% 71.73648%,
    94.03794% 73.4202%,
    93.30127% 75%,
    92.30146% 76.42788%,
    91.06889% 77.66044%,
    89.64102% 78.66025%,
    55% 98.66025%,
    53.4202% 99.39693%,
    51.73648% 99.84808%,
    50% 100%,
    48.26352% 99.84808%,
    46.5798% 99.39693%,
    45% 98.66025%,
    10.35898% 78.66025%,
    8.93111% 77.66044%,
    7.69854% 76.42788%,
    6.69873% 75%,
    5.96206% 73.4202%,
    5.51091% 71.73648%,
    5.35898% 70%,
    5.35898% 30%,
    5.51091% 28.26352%,
    5.96206% 26.5798%,
    6.69873% 25%,
    7.69854% 23.57212%,
    8.93111% 22.33956%,
    10.35898% 21.33975%
  );
  clip-path: polygon(
    45% 1.33975%,
    46.5798% 0.60307%,
    48.26352% 0.15192%,
    50% 0,
    51.73648% 0.15192%,
    53.4202% 0.60307%,
    55% 1.33975%,
    89.64102% 21.33975%,
    91.06889% 22.33956%,
    92.30146% 23.57212%,
    93.30127% 25%,
    94.03794% 26.5798%,
    94.48909% 28.26352%,
    94.64102% 30%,
    94.64102% 70%,
    94.48909% 71.73648%,
    94.03794% 73.4202%,
    93.30127% 75%,
    92.30146% 76.42788%,
    91.06889% 77.66044%,
    89.64102% 78.66025%,
    55% 98.66025%,
    53.4202% 99.39693%,
    51.73648% 99.84808%,
    50% 100%,
    48.26352% 99.84808%,
    46.5798% 99.39693%,
    45% 98.66025%,
    10.35898% 78.66025%,
    8.93111% 77.66044%,
    7.69854% 76.42788%,
    6.69873% 75%,
    5.96206% 73.4202%,
    5.51091% 71.73648%,
    5.35898% 70%,
    5.35898% 30%,
    5.51091% 28.26352%,
    5.96206% 26.5798%,
    6.69873% 25%,
    7.69854% 23.57212%,
    8.93111% 22.33956%,
    10.35898% 21.33975%
  );
  height: var(--size);
  left: calc(50% - var(--size) / 2);
  margin: 16px auto;
  position: absolute;
  top: 0;
  width: var(--size);
}
.entity-picture.entity-picture--has-shadow .entity-picture__thumbnail {
  box-shadow: var(--box-shadow);
}
.md-theme-dark .entity-picture__thumbnail {
  background-color: #383b40;
  border-color: #5e626b;
}
.entity-picture--is-hexagon .entity-picture__thumbnail--image {
  -o-object-fit: cover;
  background: none !important;
  object-fit: cover;
}
.entity-picture--is-hexagon .entity-picture__thumbnail {
  -webkit-clip-path: polygon(
    45% 1.33975%,
    46.5798% 0.60307%,
    48.26352% 0.15192%,
    50% 0,
    51.73648% 0.15192%,
    53.4202% 0.60307%,
    55% 1.33975%,
    89.64102% 21.33975%,
    91.06889% 22.33956%,
    92.30146% 23.57212%,
    93.30127% 25%,
    94.03794% 26.5798%,
    94.48909% 28.26352%,
    94.64102% 30%,
    94.64102% 70%,
    94.48909% 71.73648%,
    94.03794% 73.4202%,
    93.30127% 75%,
    92.30146% 76.42788%,
    91.06889% 77.66044%,
    89.64102% 78.66025%,
    55% 98.66025%,
    53.4202% 99.39693%,
    51.73648% 99.84808%,
    50% 100%,
    48.26352% 99.84808%,
    46.5798% 99.39693%,
    45% 98.66025%,
    10.35898% 78.66025%,
    8.93111% 77.66044%,
    7.69854% 76.42788%,
    6.69873% 75%,
    5.96206% 73.4202%,
    5.51091% 71.73648%,
    5.35898% 70%,
    5.35898% 30%,
    5.51091% 28.26352%,
    5.96206% 26.5798%,
    6.69873% 25%,
    7.69854% 23.57212%,
    8.93111% 22.33956%,
    10.35898% 21.33975%
  );

  -webkit-transform: translateY(var(--border-width));
  border: unset;
  border-radius: 0;
  clip-path: polygon(
    45% 1.33975%,
    46.5798% 0.60307%,
    48.26352% 0.15192%,
    50% 0,
    51.73648% 0.15192%,
    53.4202% 0.60307%,
    55% 1.33975%,
    89.64102% 21.33975%,
    91.06889% 22.33956%,
    92.30146% 23.57212%,
    93.30127% 25%,
    94.03794% 26.5798%,
    94.48909% 28.26352%,
    94.64102% 30%,
    94.64102% 70%,
    94.48909% 71.73648%,
    94.03794% 73.4202%,
    93.30127% 75%,
    92.30146% 76.42788%,
    91.06889% 77.66044%,
    89.64102% 78.66025%,
    55% 98.66025%,
    53.4202% 99.39693%,
    51.73648% 99.84808%,
    50% 100%,
    48.26352% 99.84808%,
    46.5798% 99.39693%,
    45% 98.66025%,
    10.35898% 78.66025%,
    8.93111% 77.66044%,
    7.69854% 76.42788%,
    6.69873% 75%,
    5.96206% 73.4202%,
    5.51091% 71.73648%,
    5.35898% 70%,
    5.35898% 30%,
    5.51091% 28.26352%,
    5.96206% 26.5798%,
    6.69873% 25%,
    7.69854% 23.57212%,
    8.93111% 22.33956%,
    10.35898% 21.33975%
  );
  height: calc(var(--size) - var(--border-width) * 2) !important;
  transform: translateY(var(--border-width));
  width: calc(var(--size) - var(--border-width) * 2);
}
.entity-picture__thumbnail--no-margins {
  margin: auto;
}
.entity-picture__thumbnail {
  border: var(--border-width) solid;
  border-radius: var(--size);
  clear: both;
  display: -webkit-box;
  display: flex;
  height: var(--size) !important;
  margin: 16px auto;
  position: relative;
  width: var(--size);
}
</style>