<template>
  <v-app>
    <app-bar @clicked="showDrawerHandler" :isMobile="isMobile"></app-bar>
    <drawer
      :mini="!isMobile && showDrawer"
      :show="isMobile && showDrawer"
      :permanent="!isMobile"
      @closed="setDrawer"
    ></drawer>
    <v-divider></v-divider>
    <v-content style="background-color: #010101">
      <div class="page-wrapper">
        <router-view></router-view>
      </div>
    </v-content>
  </v-app>
</template>
<script>
import appBar from "@/components/app/bar/Navigation";
import drawer from "@/components/app/bar/Drawer";
export default {
  data() {
    return {
      showDrawer: true,
      isMobile: false,
    };
  },
  components: {
    appBar,
    drawer,
  },
  beforeDestroy() {
    if (typeof window !== "undefined") {
      window.removeEventListener("resize", this.onResize, { passive: true });
    }
  },
  mounted() {
    this.onResize();
    window.addEventListener("resize", this.onResize, { passive: true });
  },
  methods: {
    onResize() {
      this.isMobile = window.innerWidth < 800;
    },
    showDrawerHandler() {
      this.showDrawer = !this.showDrawer;
      console.log(this.showDrawer);
    },
    setDrawer(value) {
      this.showDrawer = value;
    },
  },
};
</script>
<style scoped>
.page-wrapper {
  height: 100%;
}
</style>
