<template>
  <v-container fluid class="darkness full-height">
    <v-app-bar color="#010101" :prominent="isMobile" dark>
      <v-row>
        <v-col xs="12" md="3">
          <v-toolbar-title class="font-weight-bold heading-2"
            >Search</v-toolbar-title
          >
        </v-col>
        <v-col xs="12" md="9">
          <v-tabs
            v-model="tab"
            background-color="transparent"
            color="#CDDC38"
            grow
            dark
          >
            <v-tab
              dark
              v-for="item in items"
              :key="item.key"
              @click="setTab(item.key)"
            >
              {{ item.label }}
            </v-tab>
          </v-tabs>
        </v-col>
      </v-row>
    </v-app-bar>

    <v-row>
      <v-col sm="3" v-if="!isMobile">
        <people-filters
          :aggregators="aggregators"
          :show="searchingBy == 'people'"
          :loading="loading"
          @selectedFilter="appendFilter"
          @removedFilter="removeFilter"
          @compensationUpdated="compensationUpdated"
        ></people-filters>
        <jobs-filters
          :aggregators="aggregators"
          :show="searchingBy == 'opportunities'"
          :loading="loading"
          @selectedFilter="appendFilter"
          @removedFilter="removeFilter"
          @compensationUpdated="compensationUpdated"
        ></jobs-filters>
      </v-col>
      <v-col xs="12" md="9">
        <v-card class="darkness mt-4">
          <v-tabs-items v-model="tab" class="darkness full-height">
            <v-tab-item v-for="item in items" :key="item.key">
              <people-list
                v-if="searchingBy == 'people'"
                :filters="filters"
                @search="appendFilter"
                :filtersUpdated="filtersUpdated"
                @updated="filtersUpdated = false"
                @clear="removeFilter"
              ></people-list>
              <job-list
                v-if="searchingBy == 'opportunities'"
                :filters="filters"
                @search="appendFilter"
                :filtersUpdated="filtersUpdated"
                @updated="filtersUpdated = false"
                @clear="removeFilter"
              ></job-list>
            </v-tab-item>
          </v-tabs-items>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import axios from "axios";
import PeopleFilters from "@/components/search/PeopleFilters";
import JobsFilters from "@/components/search/JobsFilters";
import PeopleList from "@/components/search/PeopleList";
import JobList from "@/components/search/JobList";

export default {
  data: () => ({
    tab: null,
    items: [
      { key: "people", label: "People" },
      { key: "opportunities", label: "Jobs" },
    ],
    text: "",
    drawer: false,
    menuItems: [
      { title: "Home", icon: "mdi-home-city" },
      { title: "My Account", icon: "mdi-account" },
      { title: "Users", icon: "mdi-account-group-outline" },
    ],
    mini: true,
    isMobile: false,
    filtersUpdated: false,
    searchingBy: "people",
    aggregators: {},
    results: [],
    filters: {
      and: [],
    },
    loading: true,
  }),
  beforeDestroy() {
    if (typeof window !== "undefined") {
      window.removeEventListener("resize", this.onResize, { passive: true });
    }
  },
  mounted() {
    this.onResize();
    window.addEventListener("resize", this.onResize, { passive: true });
    this.get_filters();
  },
  methods: {
    onResize() {
      this.isMobile = window.innerWidth < 800;
    },
    showDrawerHandler() {
      this.showDrawer = !this.showDrawer;
      console.log(this.showDrawer);
    },
    setDrawer(value) {
      this.showDrawer = value;
    },
    get_filters() {
      let filters = this.filters.and.length > 0 ? this.filters : {};
      const queryString = this.encodeParams(filters);
      this.loading = true;
      axios
        .get(`/aggregates/${this.searchingBy}?q=${queryString}`)
        .then((result) => {
          this.aggregators = result.data.aggregators;
          this.loading = false;
        })
        .catch(console.log);
    },
    encodeParams(filters, pager = {}) {
      const params = {
        filters: filters,
        pager: pager,
      };
      const stringParams = JSON.stringify(params);
      return btoa(stringParams);
    },
    appendFilter(evt) {
      this.filters.and.push(evt);
      this.filtersUpdated = true;
      this.get_filters();
    },
    removeFilter(evt) {
      var toRemoveIndex = -1;
      for (let i = 0; i < this.filters.and.length; i++) {
        const element = this.filters.and[i];
        if (!element.hasOwnProperty(evt["tag"])) continue;
        if (element[evt["tag"]]["term"] == evt["filter"] || element[evt["tag"]]["code"] == evt["filter"]) {
          toRemoveIndex = i;
          break;
        }
      }
      if (toRemoveIndex < 0) return;
      this.filters.and.splice(toRemoveIndex, 1);
      this.filtersUpdated = true;
      this.get_filters();
    },
    compensationUpdated(evt) {
      var compensationIdx = -1;
      for (let i = 0; i < this.filters.and.length; i++) {
        const element = this.filters.and[i];
        if (
          element.hasOwnProperty("compensation") ||
          element.hasOwnProperty("compensationrange")
        ) {
          compensationIdx = i;
          break;
        }
      }
      const item = {};
      item[evt["tag"]] = evt["value"];
      if (compensationIdx < 0) this.filters.and.push(item);

      this.filters.and.splice(compensationIdx, 1);
      this.filters.and.push(item);
      this.filtersUpdated = true;
      this.get_filters();
    },
    setTab(key) {
      this.searchingBy = key;
      this.filters = {
        and: [],
      };
      this.get_filters();
    },
  },
  components: {
    PeopleFilters,
    JobsFilters,
    PeopleList,
    JobList,
  },
};
</script>
<style
    PeopleFilters>
.darkness {
  background-color: #010101 !important;
}
.theme--dark.v-tabs .v-tab--active:hover::before,
.theme--dark.v-tabs .v-tab--active::before {
  opacity: -0;
}

.full-height {
  height: 100%;
}
.v-list-item {
  font-size: 16px;
  font-weight: 600;
}
</style>
