<template>
  <v-card dark v-if="show">
    <v-card-title primary-title>
      <v-icon class="pr-2">mdi-filter</v-icon>
      Filter jobs by:
      <v-progress-linear
        :active="loading"
        :indeterminate="loading"
        absolute
        bottom
        color="#cddc38"
      ></v-progress-linear>
    </v-card-title>

    <v-card-text v-if="!loading">
      <v-list dense>
        <v-list-item> Status: </v-list-item>
        <v-list-item
          v-if="
            'status' in selectedFilters && selectedFilters['status'].length > 0
          "
        >
          <v-chip-group active-class="primary--text" column>
            <v-chip
              v-for="item in selectedFilters.status"
              :key="item"
              :value="item in selectedFilters.status"
              close
              small
              label
              @click:close="removeFilter('status', item)"
            >
              {{ item }}
            </v-chip>
          </v-chip-group>
        </v-list-item>
        <v-list-item
          dense
          class="filter-container"
          v-for="(item, index) in aggregators.status"
          :key="`${item.value}${index}`"
        >
          <a class="filter-opt" @click="addFilter('status', item.value, 'code')">
            {{ item.value }} ({{formatTotal(item.total)}})
          </a>
        </v-list-item>
      </v-list>
      <v-list dense>
        <v-list-item>Type: </v-list-item>
        <v-list-item
          v-if="
            'type' in selectedFilters && selectedFilters['type'].length > 0
          "
        >
          <v-chip-group active-class="primary--text" column>
            <v-chip
              v-for="item in selectedFilters.type"
              :key="item"
              :value="item in selectedFilters.type"
              close
              small
              label
              @click:close="removeFilter('type', item, 'code')"
            >
              {{ item }}
            </v-chip>
          </v-chip-group>
        </v-list-item>
        <v-list-item
          dense
          class="filter-container"
          v-for="(item, index) in aggregators.type"
          :key="`${item.value}${index}`"
        >
          <a class="filter-opt" @click="addFilter('type', item.value)">
            {{ item.value }} ({{formatTotal(item.total)}})
          </a>
        </v-list-item>
      </v-list>
      <v-list>
        <v-list-item>Top Skill(s): </v-list-item>
        <v-list-item
          v-if="
            'skill' in selectedFilters && selectedFilters['skill'].length > 0
          "
        >
          <v-chip-group active-class="primary--text" column>
            <v-chip
              v-for="(item, index) in selectedFilters.skill"
              :key="index"
              :value="item in selectedFilters.skill"
              close
              small
              label
              @click:close="removeFilter('skill', item)"
            >
              {{ item }}
            </v-chip>
          </v-chip-group>
        </v-list-item>
        <v-list-item
          dense
          class="filter-container"
          v-for="(item, index) in aggregators.skill"
          :key="`${item.value}${index}`"
        >
          <a class="filter-opt" @click="addFilter('skill', item.value)">
            {{ item.value }} ({{ formatTotal(item.total) }})
          </a>
        </v-list-item>
      </v-list>
      
    </v-card-text>
  </v-card>
</template>
<script>
import parametric from "@/utils/Parametric";
import axios from "axios";

export default {
  props: {
    aggregators: Object,
    show: Boolean,
    loading: Boolean,
  },
  data: () => ({
    selectedFilters: {},
    currencies: [],
    periodicities: [
      { value: "hourly", text: "Per hour" },
      { value: "monthly", text: "Per month" },
      { value: "yearly", text: "Per year" },
    ],
    periodicity: "hourly",
    currency: null,
    minAmount: null,
    maxAmount: null,
    compensation: {},
  }),
  mounted() {
    this.getCurrencies();
  },
  methods: {
    parseOpenTo(tag, total = null) {
      const formatted = parametric.parseOpenTo(tag, total);
      if (!total) return formatted["label"];
      return `${formatted["label"]} (${formatted["total"]})`;
    },
    formatTotal(total) {
      return parametric.totalFormat(total);
    },
    addFilter(group, value, attribute="term") {
      let filter = {};
      let filterValue = {}
      filterValue[attribute] = value
      filter[group] = filterValue;
      if (group == "skill") filter[group]["experience"] = "1-plus-year";
      this.$emit("selectedFilter", filter);
      if (!(group in this.selectedFilters)) this.selectedFilters[group] = [];
      this.selectedFilters[group].push(value);
    },
    removeFilter(group, value) {
      let itemPosition = this.selectedFilters[group].indexOf(value);
      if (itemPosition < 0) return;
      this.selectedFilters[group].splice(itemPosition, 1);
      this.$emit("removedFilter", { tag: group, filter: value });
      //debugger
      //this.selectedFilters[group] = arr
    },
    getCurrencies() {
      axios.get("https://torre.co/api/currencies").then((result) => {
        this.currencies = result.data;
      });
    },
    setCompensation(group = "compensation", currency = null) {
      if (!currency)
        this.currency = this.currency["code"] + this.currency["symbol"];
      else this.currency = currency;
      this.compensation["currency"] = !this.currency
        ? undefined
        : this.currency;
      this.compensation["periodicity"] = !this.periodicity
        ? "hourly"
        : this.periodicity;
      this.compensation["minAmount"] = !this.minAmount
        ? undefined
        : parseInt(this.minAmount);
      this.compensation["maxAmount"] = !this.maxAmount
        ? undefined
        : parseInt(this.maxAmount);

      this.$emit("compensationUpdated", {
        tag: group,
        value: this.compensation,
      });
    },
    buildCompensation(value) {
      const values = value.split(" ");
      const periodicity = values[1].split("/");
      const range = periodicity[0].split("-");

      this.periodicity = periodicity[1];
      this.minAmount = range[0];
      this.maxAmount = range[1];
      this.setCompensation("compensationrange", values[0]);
    },
  },
};
</script>
<style scoped>
.filter-container:hover {
  background-color: hsla(0, 0%, 100%, 0.06);
}
.filter-opt {
  color: #cddc38 !important;
  font-size: 14px;
  font-weight: 300;
}
a:visited a:hover {
  text-decoration: none;
}
.v-list-item--dense {
  min-height: 30px;
}
.v-select-list,
.v-select-list > .v-list-item {
  background-color: #383b40;
  color: rgba(255, 255, 255, 0.65) !important;
}
.v-list-item__title {
  color: rgba(255, 255, 255, 0.65) !important;
}
.v-select__slot > label {
  font-size: 14px;
}
</style>