
<template>
  <div>
    <v-container fluid>
      <v-row>
        <v-col sm="12" class="py-5">
          <v-text-field
            label="Search people"
            prepend-inner-icon="mdi-account-search"
            clearable
            hide-details
            outlined
            dense
            color="#cddc38"
            dark
            v-model="searchText"
            @keyup.enter="search('name')"
            @click:clear="clear"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row v-if="!loading && items.length > 0">
        <v-col sm="12">
          <div class="text-end pager subtitle-2">
            <span>
              {{ pager.offset + 1 }} - {{ pager.limit * pager.number }} de
              {{ formatNumber(pager.total) }}
            </span>
            <v-btn
              icon
              dark
              :disabled="pager.number < 2"
              color="rgba(255, 255, 255, 0.65)"
              @click="setCurrentPage(pager.number - 1)"
            >
              <v-icon>mdi-chevron-left</v-icon>
            </v-btn>
            <v-btn
              icon
              dark
              :disabled="pager.offset >= pager.total"
              color="rgba(255, 255, 255, 0.65)"
              @click="setCurrentPage(pager.number + 1)"
            >
              <v-icon>mdi-chevron-right</v-icon>
            </v-btn>
          </div>
        </v-col>
      </v-row>
      <v-row>
        <v-col xs="12"
          ><v-progress-linear
            :active="loading"
            indeterminate
            bottom
            color="#cddc38"
          ></v-progress-linear
        ></v-col>
      </v-row>
      <v-row v-if="!loading">
        <v-col xs="12" md="6" v-for="item in items" :key="item.subjectId">
          <v-card dark color="#27292D" class="card-name">
            <v-list-item three-line>
              <v-list-item-content class="card-name">
                <v-list-item-title class="h6">
                  {{ item.name }}
                </v-list-item-title>
                <v-list-item-subtitle class="subtitle-2 text-truncate">
                  {{ item.professionalHeadline }}
                </v-list-item-subtitle>
                <v-list-item-subtitle class="caption">
                  {{ item.locationName }}
                </v-list-item-subtitle>
              </v-list-item-content>

              <v-list-item-avatar rounded="25" size="55" color="grey">
                <v-img :src="item.picture"></v-img>
              </v-list-item-avatar>
            </v-list-item>
            <v-card-actions>
              <v-item-group class="ml-2">
                <v-item>
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <div class="extra-data" v-bind="attrs" v-on="on">
                        <v-icon color="rgba(255, 255, 255, 0.65)">
                          {{
                            item._meta.ranker.score
                              ? "mdi-speedometer"
                              : "mdi-help"
                          }}
                        </v-icon>
                      </div>
                    </template>
                    <span>{{
                            item._meta.ranker.score
                              ? `Fits the search criteria ${Math.round(item._meta.ranker.score * 100)}%`
                              : "Not enough data. Please select more filers"
                          }}</span>
                  </v-tooltip>
                </v-item>
                <v-item>
                  <v-menu
                    open-on-hover
                    :nudge-width="200"
                    offset-y
                    max-width="400px"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <div class="extra-data ml-2" v-bind="attrs" v-on="on">
                        <v-icon color="rgba(255, 255, 255, 0.65)"
                          >mdi-dumbbell</v-icon
                        >
                      </div>
                    </template>

                    <v-card dark>
                      <v-list-item>
                        <v-list-item-content class="subtitle-2">
                          <v-list-item-title class="h6 card-name">
                            Skills
                          </v-list-item-title>
                        </v-list-item-content>
                      </v-list-item>

                      <v-chip-group column class="px-4">
                        <div v-for="n in 10" :key="n">
                          <v-chip
                            v-if="item.skills[n-1]"
                            outlined
                            color="rgba(255, 255, 255, 0.65)"
                            label
                          >
                            {{ item.skills[n-1].name }}
                          </v-chip>
                        </div>
                        <v-chip
                          light
                          color="rgba(255, 255, 255, 0.65)"
                          label
                          v-if="item.skills.length > 10"
                          >{{ item.skills.length - 10 }} more...
                        </v-chip>
                      </v-chip-group>
                    </v-card>
                  </v-menu>
                </v-item>
                <v-item>
                  <v-menu
                    open-on-hover
                    :nudge-width="200"
                    offset-y
                    max-width="400px"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <div class="extra-data ml-2" v-bind="attrs" v-on="on">
                        <v-icon color="rgba(255, 255, 255, 0.65)"
                          >mdi-buffer</v-icon
                        >
                      </div>
                    </template>

                    <v-card dark>
                      <v-list-item>
                        <v-list-item-content class="subtitle-2">
                          <v-list-item-title class="h6 card-name">
                            Open to
                          </v-list-item-title>
                        </v-list-item-content>
                      </v-list-item>

                      <v-chip-group column class="px-4">
                        <div v-for="ot in item.openTo" :key="ot">
                          <v-chip
                            outlined
                            color="rgba(255, 255, 255, 0.65)"
                            label
                          >
                            {{ parseOpenTo(ot, item.compensations) }}
                          </v-chip>
                        </div>
                      </v-chip-group>
                    </v-card>
                  </v-menu>
                </v-item>
              </v-item-group>
              <v-spacer></v-spacer>
              <v-tooltip top v-for="action in actions" :key="action.icon">
                <template v-slot:activator="{ on }">
                  <v-btn icon :color="action.color" v-on="on">
                    <v-icon>{{ action.icon }}</v-icon>
                  </v-btn>
                </template>
                <span>{{ action.label }}</span>
              </v-tooltip>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
      <v-row v-if="!loading && items.length > 0">
        <v-col sm="12">
          <div class="text-end pager subtitle-2">
            <span>
              {{ pager.offset + 1 }} - {{ pager.limit * pager.number }} de
              {{ formatNumber(pager.total) }}
            </span>
            <v-btn
              icon
              dark
              :disabled="pager.number < 2"
              color="rgba(255, 255, 255, 0.65)"
              @click="setCurrentPage(pager.number - 1)"
            >
              <v-icon>mdi-chevron-left</v-icon>
            </v-btn>
            <v-btn
              icon
              dark
              :disabled="pager.offset >= pager.total"
              color="rgba(255, 255, 255, 0.65)"
              @click="setCurrentPage(pager.number + 1)"
            >
              <v-icon>mdi-chevron-right</v-icon>
            </v-btn>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>
import axios from "axios";
import parametric from "@/utils/Parametric";
export default {
  props: {
    filters: Object,
    show: Boolean,
    filtersUpdated: Boolean,
  },
  data: () => ({
    items: [],
    searchText: "",
    loading: false,
    actions: [
      {
        icon: "mdi-account",
        label: "View Genome",
        color: "rgba(255, 255, 255, 0.65)",
      },
      {
        icon: "mdi-forum",
        label: "Message",
        color: "rgba(255, 255, 255, 0.65)",
      },
      { icon: "mdi-human-greeting", label: "Signal", color: "#cddc38" },
    ],
    pager: {
      number: 1,
      total: 0,
    },
  }),
  mounted() {
    if (this.filters.and.length == 0) return;
    this.getItems();
  },
  methods: {
    search(group) {
      if (!this.searchText) return;
      let filter = {};
      filter[group] = { term: this.searchText };

      this.$emit("search", filter);
      this.getItems();
    },
    clear() {
      this.$emit("clear", { tag: "name", filter: this.searchText });
    },
    getItems() {
      this.loading = true;
      let filters = this.filters.and.length > 0 ? this.filters : {};
      if (this.filters.and.length == 0) this.pager.number = 0;
      else this.pager.number = this.pager.number == 0 ? 1 : this.pager.number;
      const queryString = this.encodeParams(filters, this.pager);
      axios.get(`/people?q=${queryString}`).then((result) => {
        this.items = result.data.results;
        this.pager.limit = result.data.size;
        this.pager.offset = result.data.offset;
        this.pager.total = result.data.total;
        this.loading = false;
      });
      //.catch(this.loading=false);
    },
    parseOpenTo(tag, compensation) {
      const formatted = parametric.parseOpenTo(tag, 0, compensation);
      return `${formatted["label"]}${
        formatted["compensation"] ? " - " + formatted["compensation"] : ""
      }`;
    },
    encodeParams(filters, pager = {}) {
      const params = {
        filters: filters,
        pager: pager,
      };
      const stringParams = JSON.stringify(params);
      return btoa(stringParams);
    },
    formatNumber(value) {
      return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    },
    setCurrentPage(page) {
      this.pager.number = page;
      this.getItems();
    },
  },
  watch: {
    filtersUpdated(value) {
      if (!value) return;
      console.log("hi");
      this.getItems();
      this.$emit("updated");
    },
  },
};
</script>
<style scoped>
.card-name {
  color: #cddc38 !important;
  font-size: 16px !important;
  font-weight: 300;
}
.extra-data {
  height: 35px;
  min-width: 35px;
  border: solid 1pt rgba(255, 255, 255, 0.65);
  border-radius: 5px;
  text-align: center;
  padding: 4px;
  display: inline-block;
}
.v-avatar {
  border: solid 2px;
}
.pager {
  color: rgba(255, 255, 255, 0.65);
  width: 100%;
}
</style>