<template>
  <v-card dark v-if="show">
    <v-card-title primary-title>
      <v-icon class="pr-2">mdi-filter</v-icon>
      Filter people by:
      <v-progress-linear
        :active="loading"
        :indeterminate="loading"
        absolute
        bottom
        color="#cddc38"
      ></v-progress-linear>
    </v-card-title>

    <v-card-text v-if="!loading">
      <v-list dense>
        <v-list-item> Open To: </v-list-item>
        <v-list-item
          v-if="
            'opento' in selectedFilters && selectedFilters['opento'].length > 0
          "
        >
          <v-chip-group active-class="primary--text" column>
            <v-chip
              v-for="item in selectedFilters.opento"
              :key="item"
              :value="item in selectedFilters.opento"
              close
              small
              label
              @click:close="removeFilter('opento', item)"
            >
              {{ parseOpenTo(item) }}
            </v-chip>
          </v-chip-group>
        </v-list-item>
        <v-list-item
          dense
          class="filter-container"
          v-for="item in aggregators.opento"
          :key="item.value"
        >
          <a class="filter-opt" @click="addFilter('opento', item.value)">{{
            parseOpenTo(item.value, item.total)
          }}</a>
        </v-list-item>
      </v-list>
      <v-list>
        <v-list-item> Top Skills: </v-list-item>
        <v-list-item
          v-if="
            'skill' in selectedFilters && selectedFilters['skill'].length > 0
          "
        >
          <v-chip-group active-class="primary--text" column>
            <v-chip
              v-for="item in selectedFilters.skill"
              :key="item"
              :value="item in selectedFilters.skill"
              close
              small
              label
              @click:close="removeFilter('skill', item)"
            >
              {{ item }}
            </v-chip>
          </v-chip-group>
        </v-list-item>
        <v-list-item
          dense
          class="filter-container"
          v-for="item in aggregators.skill"
          :key="item.value"
        >
          <a class="filter-opt" @click="addFilter('skill', item.value)">
            {{ item.value }} ({{ formatTotal(item.total) }})
          </a>
        </v-list-item>
      </v-list>
      <v-list>
        <v-list-item class="mt-3"> Desired compensation: </v-list-item>

        <v-list-item dense class="pb-3">
          <v-select
            :items="currencies"
            dark
            flat
            hide-details
            item-text="code"
            item-value="code"
            :menu-props="{ color: 'black' }"
            dense
            label="Currency"
            return-object
            outlined
            v-model="currency"
            @change="setCompensation()"
          >
            <template v-slot:item="{ item, attrs, on }">
              <v-list-item dark v-bind="attrs" v-on="on">
                <v-list-item-content>
                  <v-list-item-title
                    v-text="item.code + item.symbol"
                  ></v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </template>
          </v-select>
          <v-select
            :items="periodicities"
            dense
            flat
            hide-details
            label="Periodicity"
            outlined
            class="pl-2"
            v-model="periodicity"
            @change="setCompensation()"
          >
            <template v-slot:item="{ item, attrs, on }">
              <v-list-item dark v-bind="attrs" v-on="on">
                <v-list-item-content>
                  <v-list-item-title v-text="item.text"> </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </template>
          </v-select>
        </v-list-item>
        <v-list-item
          dense
          class="filter-container"
          v-for="item in aggregators.compensationrange"
          :key="item.value"
        >
          <a class="filter-opt" @click="buildCompensation(item.value)">
            <!-- {{ parseOpenTo(item.value, item.total) }} -->
            {{ item.value }} ({{ formatTotal(item.total) }})
          </a>
        </v-list-item>
        <v-list-item class="pt-3">
          <v-text-field
            hide-details
            outlined
            label="Min"
            dense
            v-model="minAmount"
          >
          </v-text-field>
          <v-text-field
            hide-details
            outlined
            label="Max"
            dense
            v-model="maxAmount"
            class="pl-2"
          >
          </v-text-field>
        </v-list-item>
      </v-list>
      <!-- <v-list>
        <v-list-item> Language(s): </v-list-item>
      </v-list>
      <v-list>
        <v-list-item> Location(s): </v-list-item>
      </v-list>
      <v-list>
        <v-list-item> Top Skills: </v-list-item>
      </v-list>
      <v-list>
        <v-list-item> Signals: </v-list-item>
      </v-list> -->
    </v-card-text>
  </v-card>
</template>
<script>
import parametric from "@/utils/Parametric";
import axios from "axios";

export default {
  props: {
    aggregators: Object,
    show: Boolean,
    loading: Boolean,
  },
  data: () => ({
    selectedFilters: {},
    currencies: [],
    periodicities: [
      { value: "hourly", text: "Per hour" },
      { value: "monthly", text: "Per month" },
      { value: "yearly", text: "Per year" },
    ],
    periodicity: "hourly",
    currency: null,
    minAmount: null,
    maxAmount: null,
    compensation: {},
  }),
  mounted() {
    this.getCurrencies();
  },
  methods: {
    parseOpenTo(tag, total = null) {
      const formatted = parametric.parseOpenTo(tag, total);
      if (!total) return formatted["label"];
      return `${formatted["label"]} (${formatted["total"]})`;
    },
    formatTotal(total) {
      return parametric.totalFormat(total);
    },
    addFilter(group, value) {
      let filter = {};
      filter[group] = { term: value };
      if (group == "skill") filter[group]["experience"] = "1-plus-year";
      this.$emit("selectedFilter", filter);
      if (!(group in this.selectedFilters)) this.selectedFilters[group] = [];
      this.selectedFilters[group].push(value);
    },
    removeFilter(group, value) {
      let itemPosition = this.selectedFilters[group].indexOf(value);
      if (itemPosition < 0) return;
      this.selectedFilters[group].splice(itemPosition, 1);
      this.$emit("removedFilter", { tag: group, filter: value });
      //debugger
      //this.selectedFilters[group] = arr
    },
    getCurrencies() {
      axios.get("https://torre.co/api/currencies").then((result) => {
        this.currencies = result.data;
      });
    },
    setCompensation(group = "compensation", currency = null) {
      if (!currency)
        this.currency = this.currency["code"] + this.currency["symbol"];
      else this.currency = currency;
      this.compensation["currency"] = !this.currency
        ? undefined
        : this.currency;
      this.compensation["periodicity"] = !this.periodicity
        ? "hourly"
        : this.periodicity;
      this.compensation["minAmount"] = !this.minAmount
        ? undefined
        : parseInt(this.minAmount);
      this.compensation["maxAmount"] = !this.maxAmount
        ? undefined
        : parseInt(this.maxAmount);

      this.$emit("compensationUpdated", {
        tag: group,
        value: this.compensation,
      });
    },
    buildCompensation(value) {
      const values = value.split(" ");
      const periodicity = values[1].split("/");
      const range = periodicity[0].split("-");

      this.periodicity = periodicity[1];
      this.minAmount = range[0];
      this.maxAmount = range[1];
      this.setCompensation("compensationrange", values[0]);
    },
  },
};
</script>
<style scoped>
.filter-container:hover {
  background-color: hsla(0, 0%, 100%, 0.06);
}
.filter-opt {
  color: #cddc38 !important;
  font-size: 14px;
  font-weight: 300;
}
a:visited a:hover {
  text-decoration: none;
}
.v-list-item--dense {
  min-height: 30px;
}
.v-select-list,
.v-select-list > .v-list-item {
  background-color: #383b40;
  color: rgba(255, 255, 255, 0.65) !important;
}
.v-list-item__title {
  color: rgba(255, 255, 255, 0.65) !important;
}
.v-select__slot > label {
  font-size: 14px;
}
</style>